.select{
  font-size: 0.9rem;
  padding: 0.3rem;
  border: 1px solid burlywood;
  border-radius: 4px;
  outline: none;
  transition: all 0.15s
}

.select:focus{
  border-color: beige;
  box-shadow: 0 0 0 0.2rem rgba(222,184,135,0.7);
}