.container{
  width: 300px;
  margin: 1rem;
}

.container input, 
.container select, 
.container textarea,
.btn_div > button{
  width: 100%;
}

.container > div {
  margin-bottom: 1rem;
}

.container > div > p {
  margin-bottom: 0.2rem;
}

.price_author{
  display: flex;
  gap: 6px;
}