<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<!-- namespace에는 xml파일과 연결할 Mapper interface 파일명을 패키지를 포함하여 적어주세요 -->
<mapper namespace="com.green.book_shop.book.mapper.BookMapper">
    <resultMap  id="book"               type="com.green.book_shop.book.dto.BookDTO">
        <id     column="BOOK_NUM"       property="bookNum" />
        <result column="BOOK_TITLE"     property="bookTitle" />
        <result column="AUTHOR"         property="author" />
        <result column="BOOK_PRICE"     property="bookPrice" />
        <result column="BOOK_STOCK"     property="bookStock" />
        <result column="BOOK_INTRO"     property="bookIntro" />
        <result column="PUBLISH_DATE"   property="publishDate" />
        <result column="CATE_NUM"       property="cateNum" />
    <!--<association property="" resultMap=""/> 1:1 관계 설정-->
        <association property="cateDTO" resultMap="com.green.book_shop.cate.mapper.CateMapper.cate"/>
        <collection property="bookImgList" resultMap="com.green.book_shop.book.mapper.BookImgMapper.bookImg"/><!-- 1:N 관계 설정-->
        <!--property = "멤버변수명"  resultMap = "실제 resultmap이 존재하는 namespace . result map ID"-->
    </resultMap>
<!-- 도서 등록 -->
    <insert id="regBook">
        INSERT INTO SHOP_BOOK (
            BOOK_NUM
            , BOOK_TITLE
            , AUTHOR
            , BOOK_PRICE
            , BOOK_INTRO
            , PUBLISH_DATE
            , CATE_NUM
        ) VALUES (
            #{bookNum}
            , #{bookTitle}
            , #{author}
            , #{bookPrice}
            , #{bookIntro}
            , #{publishDate}
            , #{cateNum}
        )
    </insert>
<!--  전체 도서 조회  -->
    <select id="getBookList" resultMap="book">
        SELECT S.BOOK_NUM
            , BOOK_TITLE
            , BOOK_PRICE
            , UPLOAD_FILE_NAME
        FROM SHOP_BOOK S, BOOK_IMG I
        WHERE S.BOOK_NUM = I.BOOK_NUM
        AND I.IS_MAIN = "Y"
        ORDER BY BOOK_NUM DESC
    </select>

<!--  해당 번호의 도서 조회  -->
    <select id="getBook" resultMap="book">
        SELECT S.BOOK_NUM
            , BOOK_TITLE
            , BOOK_PRICE
            , AUTHOR
            , BOOK_STOCK
            , BOOK_INTRO
            , UPLOAD_FILE_NAME
            , IS_MAIN
        FROM SHOP_BOOK S, BOOK_IMG I
        WHERE S.BOOK_NUM = I.BOOK_NUM
        AND S.BOOK_NUM = #{bookNum}
    </select>

<!--  도서 목록 중 가장 큰 도서번호 + 1  -->
    <select id="getNextBookNum" resultType="int">
        SELECT IFNULL(MAX(BOOK_NUM), 0) + 1
        FROM SHOP_BOOK
    </select>

<!--  상품 구매시 재고 수정  -->
    <update id="updateBookCnt">
        UPDATE SHOP_BOOK
        SET BOOK_STOCK = BOOK_STOCK - #{bookCnt}
        WHERE BOOK_NUM = #{bookNum}
    </update>

<!--  카테고리 별 책의 수 조회  -->
    <select id="cntCate" resultType="java.util.HashMap">
        SELECT
            COUNT(BOOK_NUM) BOOK_CNT
            , (SELECT CATE_NAME FROM BOOK_CATEGORY WHERE CATE_NUM = S.CATE_NUM) CATE_NAME
        FROM SHOP_BOOK S
        GROUP BY CATE_NUM
    </select>

<!--  재고 조회  -->
    <select id="getStock" resultMap="book">
        SELECT BOOK_TITLE, BOOK_STOCK
        FROM SHOP_BOOK
        WHERE BOOK_STOCK &lt; 6
        ORDER BY BOOK_STOCK ASC
    </select>

</mapper>































