<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<!-- namespace에는 xml파일과 연결할 Mapper interface 파일명을 패키지를 포함하여 적어주세요 -->
<mapper namespace="com.green.book_shop.book.mapper.BuyMapper">
    <resultMap  id="buyResultMap"           type="com.green.book_shop.book.dto.BuyDTO">
        <id     property="buyNum"           column="BUY_NUM"/>
        <result property="buyPrice"         column="BUY_PRICE"/>
        <result property="memEmail"         column="MEM_EMAIL"/>
        <result property="buyDate"          column="BUY_DATE"/>
        <collection property="buyDetailList" resultMap="com.green.book_shop.book.mapper.BuyMapper.buyDetailResultMap"/>
    </resultMap>

    <resultMap  id="buyDetailResultMap"     type="com.green.book_shop.book.dto.BuyDetailDTO">
        <id     property="buyDetailNum"     column="BUY_DETAIL_NUM"/>
        <result property="bookNum"          column="BOOK_NUM"/>
        <result property="buyCnt"           column="BUY_CNT"/>
        <result property="buyNum"           column="BUY_NUM"/>
        <association property="bookDTO"     resultMap="com.green.book_shop.book.mapper.BookMapper.book"/>
    </resultMap>
<!-- useGeneratedKeys="true" -> auto_increment된 key를 insert 시 사용하겠다는 의미 -->
<!-- keyProperty="buyNum" -> 이 쿼리의 빈값을 채우기 위해 가져온 객체(buyDTO)의 buyNum 변수에 생성된 key를 넣어주겠다. -->
<!-- 구매 정보 등록 쿼리 -->
    <insert id="insertBuy">
        INSERT INTO SHOP_BUY(
            BUY_PRICE
            , MEM_EMAIL
            , BUY_NUM
        ) VALUES(
            #{buyPrice}
            , #{memEmail}
            , #{buyNum}
        )
    </insert>

<!--  구매 상세 정보 등록 쿼리  -->
    <insert id="insertBuyDetail">
        INSERT INTO BUY_DETAIL(
            BOOK_NUM
            , BUY_CNT
            , BUY_NUM
        ) VALUES
        <foreach collection="buyDetailDTOList" item="buyDetail" separator=",">
            (
                #{buyDetail.bookNum},
                #{buyDetail.buyCnt},
                #{buyDetail.buyNum}
            )
        </foreach>
    </insert>

<!--  구매 번호 중 가장 큰 구매번호 + 1  -->
    <select id="getNextBuyNum" resultType="int">
        SELECT IFNULL(MAX(BUY_NUM), 0) + 1
        FROM SHOP_BUY
    </select>

<!--  구매 목록 조회  -->
    <select id="getBuy" resultMap="buyResultMap">
        SELECT BUY_NUM
        , BUY_PRICE
        , MEM_EMAIL
        , BUY_DATE
        , (SELECT COUNT(BUY_DETAIL_NUM) FROM BUY_DETAIL WHERE BUY_NUM = S.BUY_NUM) BUY_CNT
        , (SELECT BOOK_TITLE FROM SHOP_BOOK WHERE BOOK_NUM = (SELECT MIN(BOOK_NUM) FROM BUY_DETAIL WHERE BUY_NUM = S.BUY_NUM)) BOOK_TITLE
        FROM SHOP_BUY S
        ORDER BY BUY_DATE DESC;
    </select>

<!--  구매 상세 목록 조회  -->
    <select id="getBuyDetail" resultMap="buyDetailResultMap">
        SELECT BUY_DETAIL_NUM
        , BOOK_NUM
        , BUY_CNT
        , BUY_NUM
        , (SELECT BOOK_TITLE FROM SHOP_BOOK WHERE BOOK_NUM = D.BOOK_NUM) BOOK_TITLE
        , (SELECT BOOK_PRICE FROM SHOP_BOOK WHERE BOOK_NUM = D.BOOK_NUM) BOOK_PRICE
        , (SELECT UPLOAD_FILE_NAME FROM BOOK_IMG WHERE BOOK_NUM = D.BOOK_NUM AND IS_MAIN = 'Y') UPLOAD_FILE_NAME
        FROM BUY_DETAIL D;
    </select>
</mapper>































