.bookImg{
  width: 60px;
}

.img_title{
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.btnDiv{
  display: flex;
  margin-top: 1rem;
  justify-content: right;
  gap: 1rem;
}

.cntPrice{
  text-align: right;
  margin-top: 1rem;
  font-size: 20px;
}